<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo and Article List</title>
</head>
<body>
    <h1>List of Photos</h1>
    {% for image in photos %}
    <div>
        <img src="{{ image.path }}" alt="{{ image.title }}" style="width:300px;height:auto;">
        <p><strong>ID:</strong> {{ image.photo_id }}</p>
        <p><strong>Title:</strong> {{ image.title }}</p>
        <p><strong>Description:</strong> {{ image.description }}</p>
        <p><strong>Category:</strong> {{ image.category }}</p>
        <p><strong>Tags:</strong> {{ image.tags }}</p>
    </div>
    <hr>
    {% endfor %}
</body>
</html>
